@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Rye&family=Share+Tech&display=swap');


/*VARIAVEIS DE CORES FOOTER*/
:root{
    --color-neutral-0:  #0c0b0b;
    --color-neutral-10: #000000;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

/*FOOTER*/

footer{
    background-image: url("imagens/rdr-banner05.jpg");
}


.rockstar{
    width: 100%;
    height: auto;
    display: block;
    transform: translateY(+130px);
    position: relative;
   
}
.star{
    width: 100%; /* Largura do banner igual à largura da tela */
    height: 10%; /* Mantém a proporção da imagem */
    display: block; /* Garante que o elemento seja exibido como um bloco */
    max-width: none; /* Remove a restrição de largura máxima */
    padding: 50px 0 0 0; /* Ajuste o valor para mostrar mais a cor de fundo */
    position: relative;
    z-index: +1;
}

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}


footer{
    width: 100%;
    color:  var(--color-neutral-40);
    
}
 
/*footer aviso*/
.divisoria{
    border: none;          /* Remove a borda padrão */
    border-top: 4px solid var(--color-neutral-0);  /* Define a cor e a espessura da linha */
}

#footer_aviso{
    background-color: #000000;
    display: grid;
    grid-template-columns: 5fr 1fr; /* A primeira coluna será duas vezes mais larga que a segunda */
    padding: 3.2rem;
    color: var(--color-neutral-30);
    font-size: small;
    
}

#footer_column01 p{
    margin-bottom: 30px;
}

.footer_refs a{
    color: var(--color-neutral-40);
    background-color: var(--color-neutral-0);
    padding: 5px ;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.footer_refs a:hover{
    color: rgb(172, 11, 11);
}

#footer_column02{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
}


#footer_column02 .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all .4s;
}

#github{
    margin-top: 20px;
    background-color: var(--color-neutral-0);
    font-size: 1.3rem;
}

/*coluna 1, social media*/

.footer_link{
    text-decoration: none;
}

#footer_content{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 5rem 3.5rem 5rem;
}

#footer_contacts{
    margin-bottom: 0.75rem;
    margin-right: 5rem;
}

.footer_contacts a{
    display: block;
    text-align: center;
    padding: 10px;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: .3rem;

    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#footer_social_media .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all .4s;
}

#footer_social_media .footer_link i{
    font-size: 1.25rem;
}

#footer_social_media .footer_link:hover{
    opacity: .8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#whatsapp{
    background-color: #25d366;
}

#twitter{
    background-color: var(--color-neutral-0);
}

#youtube{
    background-color:rgb(172, 11, 11);
}

#twitch{
    background-color: #6731ad;
}

/*coluna 2 e 3, listas*/

.footer_list{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    list-style: none;
}

.footer_list .footer_link{
    color: var(--color-neutral-30);
    transition: all .4s;
}

.footer_list .footer_link:hover{
    color: rgb(172, 11, 11);
}

/*coluna 4, email*/

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p{
    color: var(--color-neutral-30);
}

#input_group{
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input{
    all: unset;
    padding: .75rem;
    width: 100%;
}

#input_group button{
    background-color:rgb(172, 11, 11);
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all .4s;
}

#input_group button:hover{
    opacity: .8;
}

/*copyright*/

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: .8rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px){
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px){
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
